<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4 ">

  <!-- Footer Elements -->
  <div class="container">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
                  {% for product in products %}
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img style="width: 160px; height: 112px" src="{{ product.image.url }}" class="img-fluid"
            alt="">
          <a href="{{ product.get_absolute_url }}">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
                  {% endfor %}

      <!--Grid column-->



  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->