{% extends "base.html" %}
<!--Navbar is here-->
{% block content %}
  <main>
    <div class="container">
    </div>
  </main>
    {% if request.user.is_authenticated %}
    <div style="height: 500px">
    {% for user in users %}
        <ul>
        {% if request.user.pk == user.pk %}
            <h1>Welcome {{ user.first_name }} {{ user.last_name }}!</h1>
            <p>It is the {% now "jS \o\f F" %}</p>
        {% endif %}
        </ul>
    {% endfor %}
    </div>
        {% else %}
        <h2 class="ml-3">Please <a href="{% url 'account_login' %}">login</a></h2>
    {% endif %}


{% endblock content %}


