{% load cart_template_tags %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="/">
            <strong class="blue-text">rockIT</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul style="flex-flow: row-reverse" class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                {% if request.user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="{% url 'account_login' %}">Login</a>
                    </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                {% endif %}
                {% if request.user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="{% url 'account_signup' %}">Signup</a>
                    </li>
                {% endif %}
                <li style="margin-top: 2px" class="pt-1"><span class="badge blue z-depth-1 ml-1"> {{ request.user|cart_item_count }} </span>
                </li>
                <li><a href="{% url 'core:order-summary' %}"><i style="margin-top: 2px" class=" ml-2 pt-2 fas fa-cart-arrow-down"></i></a></li>
                {% for user in users %}
                    {% if request.user.pk == user.pk %}
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="{% url 'core:profile-view' user.pk %}">Profile</a>
                        </li>
                    {% endif %}{% endfor %}
            </ul>



        </div>

    </div>
</nav>
