{% extends 'base.html' %}
{% block content %}
    <div style="height: 600px;" class="container">
        <div style="min-height: fit-content; background-color: whitesmoke" class="card d-block">
            {% if user_profile.profile_image %}
                <img style="height: 150px; width: auto; border-radius: 20px" class="float-right m-4 z-depth-3"
                     src="{{ user_profile.profile_image.url }}" alt="">
            {% endif %}
            <div class="container">
            </div>
            <div class="ml-3">
                <h2 class="mb-5">Welcome <strong>{{ user_profile.first_name }} {{ user_profile.last_name }}</strong></h2>
                <p>Date of birth : {{ user_profile.birth_date }}</p>
                <p>Phone nr: {{ user_profile.phone_number }}</p>
                <p>You have been with us since {{ user_profile.joined_on }}</p>
                <p>{{ user_profile.country.name }} <img class="ml-2" src="{{ user_profile.country.flag }}" alt=""></p>
            </div>

            {% if request.user.pk == user_profile.pk %}
                <a href="{% url 'core:profile-update' user_profile.pk %}">
                    <button class="btn btn-primary m-4">Edit</button>
                </a>
            {% endif %}
        </div>

    </div>
{% endblock %}